div.links {
    text-align: center;
}
a.other-website-link {
/*    left: 20px;*/
    margin: 10px;
    outline: 2px solid lime;
}
a.resume-link {
    margin: 10px;
    outline: 2px solid lime;
}
a:link {
    color: black;
}
a:visited {
    color: black;
}
