div.links {
    text-align: center;
}
.other-website-link {
/*    left: 20px;*/
    outline: 2px solid lime;
}
.resume-link {
    outline: 2px solid lime;
}
a:link {
    color: black;
}
a:visited {
    color: black;
}
